 .u-section-1 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 27px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 375px;
  height: 264px;
  margin: -6px 20px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -250px 839px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 3px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 3px auto 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 1px auto 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 5px auto 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 3px auto 0 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 332px;
  height: 264px;
  margin: -264px auto 0 386px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 3px auto 35px 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -249px;
    margin-right: 639px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 239px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -237px;
    margin-right: 39px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-14 {
    margin-bottom: 28px;
  }
} .u-section-2 {
  background-image: url("images/15273888_5591421.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 766px;
}

.u-section-2 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 197px 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 349px;
  height: 472px;
  margin: 74px auto 0 -8px;
}

.u-section-2 .u-image-1 {
  width: 472px;
  height: 349px;
}

.u-section-2 .u-rotation-parent-2 {
  width: 354px;
  height: 472px;
  margin: -472px auto 0 380px;
}

.u-section-2 .u-image-2 {
  width: 472px;
  height: 354px;
}

.u-section-2 .u-rotation-parent-3 {
  width: 367px;
  height: 472px;
  margin: -472px 0 60px auto;
}

.u-section-2 .u-image-3 {
  width: 472px;
  height: 367px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-rotation-parent-1 {
    height: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 473px;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-top: -473px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-left: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 461px;
    height: 340px;
  }

  .u-section-2 .u-rotation-parent-2 {
    width: 340px;
    height: 439px;
    margin-top: -452px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 453px;
    height: 340px;
  }

  .u-section-2 .u-rotation-parent-3 {
    width: 340px;
    height: 410px;
    margin-top: -439px;
  }

  .u-section-2 .u-image-3 {
    width: 437px;
    height: 340px;
  }
} .u-section-3 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
  min-height: 2474px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 67px auto 0 calc(((100% - 1140px) / 2) + 451px);
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 18px calc(((100% - 1140px) / 2) + 83px) 0;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 527px;
  margin-top: 18px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 644px;
}

.u-section-3 .u-text-3 {
  margin: -503px calc(((100% - 1140px) / 2) + -15px) 0 calc(((100% - 1140px) / 2) + 685px);
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 685px);
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 527px;
  margin-top: 458px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 643px;
}

.u-section-3 .u-text-5 {
  margin: -512px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 685px);
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 685px);
}

.u-section-3 .u-custom-html-4 {
  margin: 477px calc(((100% - 1140px) / 2) + 497px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-7 {
  margin: -511px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 714px);
}

.u-section-3 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 710px);
}

.u-section-3 .u-image-1 {
  width: 643px;
  height: 455px;
  margin: 409px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-9 {
  margin: -447px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 710px);
}

.u-section-3 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 710px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 2040px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 61px;
    margin-right: calc(((100% - 1140px) / 2) + 397px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -201px;
    margin-right: calc(((100% - 1140px) / 2) + 83px);
    margin-left: calc(((100% - 1140px) / 2) + 687px);
  }

  .u-section-3 .u-text-4 {
    margin-top: 156px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 570px);
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 319px;
    margin-right: calc(((100% - 1140px) / 2) + 397px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -294px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }

  .u-section-3 .u-text-6 {
    margin-top: 236px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: 250px;
    margin-right: calc(((100% - 1140px) / 2) + 397px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 514px);
  }

  .u-section-3 .u-text-8 {
    margin-left: calc(((100% - 940px) / 2) + 510px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1563px;
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: calc(((100% - 1140px) / 2) + 287px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -274px;
    margin-right: calc(((100% - 1140px) / 2) + 193px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -142px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 460px);
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 290px;
    margin-right: calc(((100% - 1140px) / 2) + 287px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -338px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 265px);
  }

  .u-section-3 .u-text-6 {
    margin-top: 201px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 265px);
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: 260px;
    margin-right: calc(((100% - 1140px) / 2) + 287px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 294px);
  }

  .u-section-3 .u-text-8 {
    margin-left: calc(((100% - 720px) / 2) + 290px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1099px;
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-custom-html-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -314px;
    margin-right: calc(((100% - 1140px) / 2) + 283px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-3 .u-custom-html-3 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -398px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }

  .u-section-3 .u-custom-html-4 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 114px);
  }

  .u-section-3 .u-text-8 {
    margin-left: calc(((100% - 540px) / 2) + 110px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 382px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-top: -374px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 958px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 491px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-custom-html-2 {
    width: 340px;
    margin-top: 74px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -248px;
    margin-right: calc(((100% - 1140px) / 2) + 383px);
  }

  .u-section-3 .u-text-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-custom-html-3 {
    width: 340px;
    margin-top: 179px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -201px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: 184px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 241px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-top: -233px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: url("images/15517794_5630655.jpg");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 62px 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

.u-section-4 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

.u-section-4 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 78px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-text-2 {
    width: 746px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 784px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-5 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 714px;
  background-image: url("images/20230220_1715301.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 714px;
  background-image: url("images/15782177_5664723.jpg");
  background-position: 100% 53.22%;
  background-size: auto 150%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 270px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 68px 109px 0;
}

.u-section-5 .u-gallery-1 {
  height: 248px;
  width: 1044px;
  margin: 18px auto 60px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 30px 30px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 41px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 41px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 41px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-5 .u-image-1 {
    background-position: 69.23% 50%;
    min-height: 589px;
  }

  .u-section-5 .u-image-2 {
    min-height: 589px;
  }

  .u-section-5 .u-text-3 {
    width: 792px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-gallery-1 {
    height: 223px;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-5 .u-image-1 {
    min-height: 451px;
  }

  .u-section-5 .u-image-2 {
    min-height: 451px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 512px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2590px;
  }

  .u-section-5 .u-image-1 {
    min-height: 677px;
  }

  .u-section-5 .u-image-2 {
    min-height: 677px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1152px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-5 .u-image-1 {
    min-height: 426px;
  }

  .u-section-5 .u-image-2 {
    min-height: 426px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 725px;
    width: 340px;
  }
} .u-section-6 {
  background-image: url("images/23751379_6862346.jpg");
  background-position: 65.54% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1753px;
}

.u-section-6 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px 75px 0 0;
}

.u-section-6 .u-image-1 {
  height: 386px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 56px 770px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: -77px 0 0 399px;
}

.u-section-6 .u-image-2 {
  width: 741px;
  height: 383px;
  margin: 21px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 370px;
  height: 370px;
  margin: -376px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin: 63px 641px 0 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: -64px 0 0 590px;
}

.u-section-6 .u-image-4 {
  width: 550px;
  height: 312px;
  margin: 15px 0 0 auto;
}

.u-section-6 .u-image-5 {
  width: 516px;
  height: 312px;
  margin: -312px auto 0 0;
}

.u-section-6 .u-text-7 {
  width: 550px;
  margin: 42px auto 60px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 570px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 199px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 22px;
    margin-right: 441px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 151px;
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 350px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 372px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -365px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 221px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 279px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -272px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 60px;
    margin-right: 41px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -102px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    width: 540px;
    height: 306px;
    margin-top: 54px;
  }

  .u-section-6 .u-image-5 {
    margin-top: -306px;
  }

  .u-section-6 .u-text-7 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 176px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -169px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 95px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 193px;
    margin-top: -4px;
  }

  .u-section-6 .u-image-5 {
    width: 340px;
    height: 206px;
    margin-top: -193px;
  }

  .u-section-6 .u-text-7 {
    width: 340px;
  }
} .u-section-7 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 708px;
}

.u-section-7 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 527px;
  width: 706px;
  margin: 40px auto 51px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: url("images/15782177_5664723.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 810px;
}

.u-section-8 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px 0 0;
}

.u-section-8 .u-rotation-parent-1 {
  width: 220px;
  height: 333px;
  margin: 70px auto 0 -26px;
}

.u-section-8 .u-image-1 {
  width: 333px;
  height: 220px;
}

.u-section-8 .u-rotation-parent-2 {
  width: 234px;
  height: 333px;
  margin: -333px auto 0 210px;
}

.u-section-8 .u-image-2 {
  width: 333px;
  height: 234px;
}

.u-section-8 .u-rotation-parent-3 {
  width: 232px;
  height: 333px;
  margin: -333px 448px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 333px;
  height: 232px;
}

.u-section-8 .u-rotation-parent-4 {
  width: 217px;
  height: 332px;
  margin: -333px 215px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 332px;
  height: 217px;
}

.u-section-8 .u-rotation-parent-5 {
  width: 229px;
  height: 332px;
  margin: -332px -30px 60px auto;
}

.u-section-8 .u-image-5 {
  width: 332px;
  height: 229px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: 746px;
  }

  .u-section-8 .u-image-2 {
    width: 570px;
    height: 428px;
    margin: -407px 197px 60px auto;
  }

  .u-section-8 .u-rotation-parent-4 {
    height: 355px;
  }

  .u-section-8 .u-image-4 {
    width: 355px;
  }

  .u-section-8 .u-rotation-parent-5 {
    height: 414px;
  }

  .u-section-8 .u-image-5 {
    width: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-8 .u-rotation-parent-3 {
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-rotation-parent-2 {
    margin-left: 106px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-8 .u-rotation-parent-3 {
    margin-right: 108px;
  }

  .u-section-8 .u-rotation-parent-4 {
    margin-right: 123px;
  }
} .u-section-9 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 797px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 39px auto 0;
}

.u-section-9 .u-video-1 {
  height: 500px;
  margin: 39px 0 0;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-9 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-9 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-9 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-9 .u-video-1 {
    height: 404px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-9 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-9 .u-video-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .embed-responsive-1 {
    width: 261%;
    left: -81%;
    height: 100%;
    top: 0%;
  }
} .u-section-10 {
  background-image: url("images/F4F2F1.jfif");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-image-1 {
  height: 587px;
  width: 1044px;
  margin: 55px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    height: 529px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    height: 191px;
    width: 340px;
  }
}